<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
        <span class="font-weight-bold" th:text="${userPrincipal.email}"/> with roles:
        <span th:each="role : ${userPrincipal.getRoles()}">
            <span th:text="${role}"/>
        </span>
    </div>
    <form class="form-inline" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark ml-auto">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/users">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/users">
                            <span data-feather="file"></span>
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col-md-10 bg-light">
            <div class="tab-content">
                <div class="container-fluid">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users"
                               role="tab" aria-controls="nav-users" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="#nav-create"
                               role="tab"
                               aria-controls="nav-create" aria-selected="false">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-users" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="panel panel-default active">
                                <br>
                                <div class="panel-heading h4">All users</div>
                                <div class="panel-body">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="user : ${users}">
                                        <tr>
                                            <th><p th:text="${user.id}"></p>
                                            </th>
                                            <th><p th:text="${user.username}"></p>
                                            </th>
                                            <th><p th:text="${user.email}"></p></th>
                                            <td>
                                                <div th:each="role : ${user.getRoles()}">
                                                    <a th:text="${role}"></a>
                                                </div>
                                            </td>
                                            <th>
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#editModal"
                                                        th:data-target="${'#editModal'+user.id}">
                                                    Edit
                                                </button>
                                            </th>
                                            <th>
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#deleteModal"
                                                        th:data-target="${'#deleteModal'+user.id}">
                                                    Delete
                                                </button>
                                            </th>
                                            <!--Модальное Окно  EDIT-->
                                            <div aria-hidden="true" aria-labelledby="editModalLabel" id="editModal"
                                                 tabindex="-1" class="modal fade" th:id="${'editModal'+user.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form th:method="PATCH"
                                                              th:action="@{'/admin/users/' + ${user.id} + '/edit'}"
                                                              th:object="${user}">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                <div class="form-group required">
                                                                    <div class="controls">

                                                                        <label for="id"><b>ID</b></label>
                                                                        <input th:name="id" th:value="${user.id}"
                                                                               th:type="number"
                                                                               class="form-control" id="id"
                                                                               disabled>
                                                                        <br>
                                                                        <label for="username"><b>Username</b></label>
                                                                        <input th:name="username"
                                                                               th:value="${user.username}"
                                                                               th:type="text"
                                                                               class="form-control" id="username"
                                                                               required/>
                                                                        <br>
                                                                        <label for="email"><b>Email</b></label>
                                                                        <input th:name="email"
                                                                               th:value="${user.email}"
                                                                               th:type="email"
                                                                               class="form-control" id="email"
                                                                               required/>
                                                                        <br>
                                                                        <label for="pass"><b>Password</b></label>
                                                                        <input th:name="password"
                                                                               th:type="password"
                                                                               class="form-control"
                                                                               id="pass"/>
                                                                        <br>
                                                                        <label for="roles"><b>Role</b></label>
                                                                        <select class="form-control" id="roles"
                                                                                name="roles"
                                                                                multiple="multiple">
                                                                            <option th:each="role : ${roles}"
                                                                                    th:selected="${role.id}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${role.name}">Role name
                                                                            </option>
                                                                        </select>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">
                                                                                Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">
                                                                                Edit
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Модальное Окно  DELETE-->
                                            <div aria-hidden="true" aria-labelledby="deleteModal" id="deleteModal"
                                                 tabindex="-1" class="modal fade" th:id="${'deleteModal'+user.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form th:method="DELETE"
                                                              th:action="'/admin/users/' + ${user.id} + '/remove'"
                                                              th:object="${user}">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                <div class="form-group required">
                                                                    <div class="controls">

                                                                        <label for="idDel"><b>ID</b></label>
                                                                        <input th:name="id" th:value="${user.id}"
                                                                               th:type="number"
                                                                               class="form-control" id="idDel"
                                                                               disabled>
                                                                        <br>
                                                                        <label for="usernameDel"><b>Username</b></label>
                                                                        <input th:name="name"
                                                                               th:value="${user.username}"
                                                                               th:type="text"
                                                                               class="form-control" id="usernameDel"
                                                                               disabled/>
                                                                        <br>
                                                                        <label for="emailDel"><b>Email</b></label>
                                                                        <input th:name="email"
                                                                               th:value="${user.email}"
                                                                               th:type="email"
                                                                               class="form-control" id="emailDel"
                                                                               disabled/>
                                                                        <br>
                                                                        <label for="passwordDel"><b>Password</b></label>
                                                                        <input th:name="password"
                                                                               th:type="password"
                                                                               class="form-control"
                                                                               id="passwordDel"
                                                                               disabled/>
                                                                        <br>
                                                                        <label for="rolesDel"><b>Role</b></label>
                                                                        <select class="form-control" id="rolesDel"
                                                                                name="roles"
                                                                                multiple="multiple">
                                                                            <option th:each="role : ${user.getRoles()}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${role.name}"
                                                                                    disabled>
                                                                            </option>
                                                                        </select>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">
                                                                                Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-danger">
                                                                                Delete
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr/>
                                </div>
                            </div>
                        </div>

                        <!-- Панель создание нового юзера-->
                        <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
                            <div class="panel-heading h4">Add new user</div>
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row justify-content-center align-items-center">
                                        <form class="col-4" th:method="POST" th:action="@{/admin/users/add}" th:object="${userAdd}">
                                            <div class="form-group text-center">
                                                <label for="firstname" class="col-form-label font-weight-bold">First name</label>
                                                <input th:field="*{username}" type="text" class="form-control" placeholder="First name" aria-label="First name" id="firstname">
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="exampleInputEmail1" class="col-form-label font-weight-bold">Email address</label>
                                                <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="exampleInputPassword1" class="col-form-label font-weight-bold">Password</label>
                                                <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1">
                                            </div>
                                            <div class="form-group text-center ">
                                                <label class="col-form-label font-weight-bold" for="role">Role</label>
                                                <select th:field="*{roles}" class="form-select" multiple size="2" aria-label="Default select example" id="role">
                                                    <option th:each="role : ${roles}"
                                                            th:field="*{roles}"
                                                            th:value="${role.id}"
                                                            th:text="${role.name}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group text-center ">
                                                <button type="submit" class="btn btn-success text-white">Add new user
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../static/admin.js"></script>
</body>
</html>